/* .shapePractice{
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-top: 50px solid red;
    border-bottom: 50px solid brown;
    border-left: 50px solid green;
    border-right: 50px solid blue;
    position: relative;

}
.shapePractice::before{
    content: "";
    top: 100%;
    position: absolute;
    width: 10rem;
    height: 10rem
} */